.calendar {
    background-color: #eeee99;
}

.calendar-date-bar {
    font-weight: bold;
    text-decoration: underline;
}

.calendar-event-cell {
    background-color: #ee3333;
}

.calendar-event-timestamp {
    font-family: monospace;
}

.calendar-event {
    background-color: #33ee33;
}

.calendar-event-title {
    font-weight: bold;
}

.calendar-event-location {
    font-style: italic;
}

.calendar-event-text {
    font-size: smaller;
}

.calendar-hours,.calendar-hours-allday {
    font-weight: bold;
}

.calendar-minutes {
    font-weight: bold;
    font-size: smaller;
}

.calendar-month-day {
    font-weight: bold;
    font-size: larger;
    font-family: serif;
    margin: 0;
