.calendar-event {
    background-color: #33ee33;
}

.calendar-event-title {
    font-weight: bold;
}

.calendar-event-location {
    font-style: italic;
}

.calendar-event-text {
    font-size: smaller;
}
